button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
  -webkit-appearance: button;
}

a.button,
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
  display: inline-flex;
  vertical-align: top;
  font-size: 1rem;
  font-weight: $font-weight-5;
  text-align: center;
  color: $c-white;
  background-color: $c-ci;
  padding: $pad-half $pad;
  white-space: nowrap;
  text-decoration: none;
  border: 1px solid $c-ci;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;

  &:hover,
  &:focus {
    background-color: darken($c-ci, 4);
    border-color: darken($c-ci, 4);
    color: $c-white;
    outline: none;
  }

  &:active:not(.button-text) {
    transform: translateY(1px);
  }
}

a.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="button"].button-primary,
input[type="reset"].button-primary {
  border-color: $c-black;
  background-color: $c-black;
  color: $c-white;

  &:hover,
  &:focus {
    background-color: lighten($c-black, 24);
    border-color: lighten($c-black, 24);
  }
}

a.button.button-text,
button.button-text,
input[type="submit"].button-text,
input[type="button"].button-text,
input[type="reset"].button-text {
  border: none;
  background-color: transparent;
  color: $c-ci;
  font-size: .8rem;
  letter-spacing: .0625em;
  font-weight: $font-weight-5;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: darken($c-ci, 4);
  }
}