// Label //--------------------------------------------------------------------
label {
  color: $c-grey;
  display: block;
  font-weight: $font-weight-5;
  font-size: .8rem;
}

label:not(:last-child) {
  margin-bottom: $space-half;
}

// Inputs //-------------------------------------------------------------------
input[type="text"],
input[type="email"],
textarea {
  display: block;
  width: 100%;
  margin: 0;
  padding: $pad-quarter 0;
  font-size: 1rem;
  color: $c-black;
  border: none;
  border-bottom: 1px solid $c-grey-light-1;
  border-radius: 0;
  box-shadow: none;
  transition: border-color 100ms ease-in;

  &:focus {
    outline: none;
    border-color: $c-grey-dark;
  }
}

input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
}

textarea {
  max-width: 100%;
  padding: $pad-half;
  line-height: 1.5;
  border: 1px solid $c-grey-light-1;
  border-radius: 3px;
}