ul {
  list-style: circle inside;
}

ol {
  list-style: decimal inside;
}

ul ul, ul ol, ol ol, ol ul {
  margin: $space 0 $space $space-double;
  font-size: .9rem;
}

ul li:not(:last-child),
ol li:not(:last-child) {
  margin-bottom: $space-half;
}