th {
  font-weight: $font-weight-5;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child, td:last-child {
  padding-right: 0;
}

th,
td {
  padding: .5rem 1rem;
  text-align: left;
  border-bottom: 1px solid $c-grey-light-1;
}