$font-size-lg :             18px;
$font-size-md :             17px;
$font-size-sm :             16px;

$font-text :                'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-highlight :           'Courier', monospace;