@mixin image-preloader {
  position: relative;

  &.loaded:before {
    display: none;
  }

  &:not(.loaded):before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 34px;
    height: 8px;
    transform: translate(-50%, -50%);
    background: transparent url('#{$image-dummy-path}/wave.png') center 0
      no-repeat;
    background-size: 32px 192px;
    backface-visibility: hidden;
    animation: loading 1000ms steps(24) infinite;
  }
}

@keyframes loading {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 0 -192px;
  }
}

#demo figure {
  @include image-preloader;
}
