$c-black :                #000000;
$c-grey-dark :            #313439;
$c-grey-mid :             #676B72;
$c-grey :                 #BDBDBD;
$c-grey-light-1 :         #D4D4D4;
$c-grey-light-2 :         #F8F8F8;
$c-white :                #FFFFFF;

$c-ci :                   #0A83F6;