$font-size-lg: 18px;
$font-size-md: 17px;
$font-size-sm: 16px;

$font-weight-3: 300;
$font-weight-5: 500;

$font-text: 'Catamaran', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-highlight: 'Courier', monospace;
