<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0"/>
    <title>kolder styles</title>
    <link rel="stylesheet" href="../dist/styles.css" type="text/css">
    <style>
      section {
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 0 2rem;
      }
    </style>
</head>
<body>

  <section>
    <div class="block">
      <h1 class="is-1">Heading 1</h1>
      <h2 class="is-2">Heading 2</h2>
      <h3 class="is-3">Heading 3</h3>
      <h4 class="is-4">Heading 4</h4>
      <h5 class="is-5">Heading 5</h5>
    </div>
    <div class="block">
      <p class="is-1">Heading 1</p>
      <p class="is-2">Heading 2</p>
      <p class="is-3">Heading 3</p>
      <p class="is-4">Heading 4</p>
      <p class="is-5">Heading 5</p>
    </div>
  </section>

  <section>
    <p>
      Scenester chillwave kitsch VHS chicharrones godard biodiesel. <a href="">Jianbing</a> viral vegan hashtag, mlkshk migas XOXO vaporware hoodie pork belly intelligentsia. Craft beer vinyl brooklyn iceland, tote bag vegan gochujang microdosing affogato. Unicorn keffiyeh pok pok, succulents before they sold out paleo keytar raw denim austin occupy. Bespoke chartreuse tousled tbh hoodie, blue bottle synth put a bird on it tattooed. Portland 3 wolf moon unicorn celiac, meggings man braid brunch waistcoat vice bicycle rights cred hammock. Pickled food truck asymmetrical, hella brunch austin quinoa celiac locavore.
    </p>
  </section>

  <section>
    <div class="block">
      <a href="" class="button">Anchor Button</a>
      <button>Button Element</button>
      <input type="submit" value="Submit Input">
      <input type="button" value="Button Input">
    </div>
    <div class="block">
      <a href="" class="button button-primary">Anchor Button</a>
      <button class="button-primary">Button Element</button>
      <input type="submit" class="button-primary" value="Submit Input">
      <input type="button" class="button-primary" value="Button Input">
    </div>
  </section>

  <section>
    <label>Text Input</label>
    <input type="text" placeholder="Text Input" />
  </section>

  <section>
    <label>Textarea</label>
    <textarea></textarea>
  </section>

  <section>
    <ul>
      <li>Unordered List</li>
      <li>Unordered List
        <ul>
          <li>Nested Element</li>
          <li>Nested Element</li>
          <li>Nested Element</li>
        </ul>
      </li>
      <li>Unordered List</li>
    </ul>
  </section>

  <section>
    <ol>
      <li>Ordered List</li>
      <li>Ordered List
        <ul>
          <li>Nested Element</li>
          <li>Nested Element</li>
          <li>Nested Element</li>
        </ul>
      </li>
      <li>Ordered List</li>
    </ol>
  </section>

  <section>
    <table>
      <thead>
        <th>Candy</th>
        <th>kCal</th>
        <th>Stars</th>
      </thead>
      <tbody>
        <tr>
          <td>Snickers</td>
          <td>1200</td>
          <td>4.5</td>
        </tr>
        <tr>
          <td>Mars</td>
          <td>900</td>
          <td>1.25</td>
        </tr>
      </tbody>
    </table>
  </section>

<script type="text/javascript" async src="../dist/bundle.js"></script>
</body>
</html>
